
 /* 
  #myTable {
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd; 
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  } */

.container{
    margin-top: 10px;
}

.btn-primary{
    margin-top: 5%;
}

.form-row{
    margin: 10px 10px 0px 10px;
}

.table{
    margin: 10px 20px 10px 10px;
}


.add-bill-button{
  position: -webkit-sticky;
  position: sticky;
  height: 65px;
  margin: 0px 10px 10px 0px;
  left : 100%;
  top : 95%;
  border-radius: 50%;
  background-color: #f0ffff;
}
