
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <app-header></app-header>

    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label >Bill Id</label>
                <input [(ngModel)]="BillId" name="BillId" type="text" class="form-control" id="BillId" placeholder="BillId">
            </div>

            <div class="form-group col-md-4">
                <label >Bill Status</label>
                <select [(ngModel)]="BillStatus" name="BillStatus" id="BillStatus" class="form-control">
                <option>Mới tạo</option>
                <option>Đã thanh toán</option>
                <option>Đã hủy</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label>Amount</label>
                <input [(ngModel)]="Amount" name="Amount" type="text" class="form-control" id="Amount" placeholder="Amount">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Item Id</label>
                <input [(ngModel)]="ItemId" name="ItemId" type="text" class="form-control" id="ItemId" placeholder="ItemId">
            </div>

            <div class="form-group col-md-4">
                <label>Item Name</label>
                <input [(ngModel)]="ItemName" name="ItemName" type="text" class="form-control" id="ItemName" placeholder="ItemName">
            </div>
            
            <div class="form-group col-md-4">
                <label>Bill Desc</label>
                <input [(ngModel)]="BillDesc" name="BillDesc" type="text" class="form-control" id="BillDesc" placeholder="BillDesc">
            </div>

            
        </div>

        <div  *ngIf="Authorized==1"  class="form-row">
            <div  class="form-group col-md-4"> 
                <label>Customer Id</label>
                <input [(ngModel)]="CustomerId" name="CustomerId" type="text" class="form-control" id="CustomerId" placeholder="CustomerId" >
            </div>
            
            <div  class="form-group col-md-4">
                <label>Customer Phone</label>
                <input [(ngModel)]="CustomerPhone" name="CustomerPhone" type="text" class="form-control" id="CustomerPhone" placeholder="CustomerPhone">
            </div>

            <div class="form-group col-md-4">
                <label >Customer Name</label>
                <input [(ngModel)]="CustomerName" name="CustomerName" type="text" class="form-control" id="CustomerName" placeholder="CustomerName" >
            </div>

            
            <!-- <div class="form-group col-md-2">
                <button type="submit" (click)="SendSearch()" class="btn btn-primary">Search Test</button>
            </div> -->
        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <button type="submit" (click)="SendSearch()" class="btn btn-primary">Search</button>
            </div>
        </div>

    </form>
    <table class="table">
        <thead>
            <th scope="col">Bill Id</th>
            <th scope="col">Bill Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Item Id</th>
            <th scope="col">Item Name</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Phone</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Bill Describe</th>
            <th *ngIf="Authorized==2" scope="col">Thanh Toán</th>
        </thead>
        <tbody>
                <tr *ngFor="let SearchResult of this.SearchResults">
                        <th scope="row">{{SearchResult['BillId']}}</th>
                        <td *ngIf="SearchResult['BillStatus']==1">Mới tạo</td>
                        <td *ngIf="SearchResult['BillStatus']==2">Đã thanh toán</td>
                        <td *ngIf="SearchResult['BillStatus']==3">Đã hủy</td>

                        <td>{{SearchResult['Amount']}}</td>
                        <td>{{SearchResult['ItemId']}}</td>
                        <td>{{SearchResult['ItemName']}}</td>
                        <td>{{SearchResult['CustomerId']}}</td>
                        <td>{{SearchResult['CustomerPhone']}}</td>
                        <td>{{SearchResult['CustomerName']}}</td>
                        <td>{{SearchResult['BillDesc']}}</td>
                        <td *ngIf="Authorized==2"><button class="btn btn-info" type="button" *ngIf="SearchResult['BillStatus']==1" (click)="openPayModal(SearchResult['BillId'])" >Pay</button></td>
                </tr>
        </tbody>

    </table>
    <button *ngIf="Authorized==1" mat-raised-button class="add-bill-button" (click)="openAddBillModal()">Add</button>

    <!-- <button mat-raised-button class="add-bill-button" (click)="openAddBillModal()">Add</button> -->

</body>
