<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Add Bill</h1>
    </header>
    <section id="modal-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label >Bill Describe</label>
                    <input type="text" class="form-control" id="BillDescribe" placeholder="BillDescribe">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label >Customer Phone</label>
                    <input type="text" class="form-control" id="CustomerPhone" placeholder="CustomerPhone">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label >List Items</label>
                    <select id="ListItems" class="form-control">
                    <option selected>Mới tạo</option>
                    <option>Đã thanh toán</option>
                    <option>Đã hủy</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-primary" (click)="addBill()">Add</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-warning" (click)="closeModal()">Close</button>
                </div>
            </div>
        </form>
    </section>
</div>