<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="center formContent" >
      <h1>Login form</h1>
      <form (ngsubmit)=(SendLoginForm())>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="username" [(ngModel)]="username" id="username" name="username" placeholder="username">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="password" [(ngModel)]="password" id="password"name="login" placeholder="password">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
          </div>
          <div class="form-group col-md-2">
            <!-- <button type="button" class="btn btn-primary" routerLink="/searchBill" routerLinkActive="active">Sign in</button> -->
            <button type="button" class="btn btn-primary" (click)="SendLoginForm()">Sign in</button>
          </div>
          <div class="form-group col-md-2">
            <button type="button" class="btn btn-warning" disabled >Sign up</button>
          </div>
          <div class="form-group col-md-4">
          </div>
        </div>

        <div *ngIf='this.message!=" "' class="form-row">
          <div class="form-group col-md-4">
          </div>
          <div class="form-group col-md-4">
            {{this.message}}
          </div>
          <div class="form-group col-md-4">
          </div>
        </div>
      </form>
  </div>  


</body>
</html>